body {font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
section {margin-top: 20px;
    background-color: rgb(149, 123, 76);
    border: solid black 1px;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}